.sdg2-container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.sdg2-container h1 {
    margin-bottom: 20px;
    color: #dda63a; 
}

.sdg2-top-image,.sdg2-bottom-image {
    width: 80%;
    height: auto;
    margin: 20px 0;
    border: 2px solid #dda63a;
    border-radius: 8px;
}

.sdg2-content {
    margin: 20px 0;
    padding: 0 10%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
}