.sdg7-container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.sdg7-container h1 {
    margin-bottom: 20px;
    color: #fcc30b;
}

.sdg7-top-image, .sdg7-bottom-image {
    width: 80%;
    height: auto;
    margin: 20px 0;
    border: 2px solid #fcc30b;
    border-radius: 8px;
}

.sdg7-content {
    margin: 20px 0;
    padding: 0 10%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
}