.sdg9-container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.sdg9-container h1 {
    margin-bottom: 20px;
    color: #fd6925;
}

.sdg9-top-image, .sdg9-bottom-image {
    width: 80%;
    height: auto;
    margin: 20px 0;
    border: 2px solid #fd6925;
    border-radius: 8px;
}

.sdg9-content {
    margin: 20px 0;
    padding: 0 10%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
}